ARView.code-workspace
.vscode/settings.json
HeadsetProgram2/src/__pycache__/timeApplet.cpython-37.pyc
HeadsetProgram2/src/__pycache__/SystemUtilities.cpython-37.pyc
HeadsetProgram2/src/__pycache__/SecurityApplet.cpython-37.pyc
HeadsetProgram2/src/__pycache__/Registry.cpython-37.pyc
HeadsetProgram2/src/__pycache__/Input.cpython-37.pyc
HeadsetProgram2/src/__pycache__/DisplayApplet.cpython-37.pyc
